body{font-family:sans-serif;
         font-style: italic;
         text-transform: capitalize;} 
         div{border: 20px groove red;
                 background-color: green;
                 width: 1900px;
                 height: 1900px;}
                 div div{max-width: 1600px;
                         height: 1600px;
                        border: 15px solid orange;
                        background-color: powderblue;
                        position: relative;
                        top: 1400px;
                        left:1400px;
                        overflow: scroll;
                  }