body{font-family:sans-serif;
         font-style: italic;
         text-transform: capitalize;} 
         div{border: 20px groove red;
                 background-color: green;
                 width: 900px;
                 height: 900px;}
                 div div{max-width: 600px;
                         height: 600px;
                        border: 15px solid orange;
                        background-color: powderblue;
                        position: relative;
                        top: 400px;
                        left:445px;
                        overflow: scroll;
                  }