body
{
background:url(images/bg.jpg) no-repeat center top #b8b6bb;
padding:0; font-family:arial, sans-serif; font-size:11px;
margin:0px auto auto auto;
color:#333333;
}
p{
padding:0px;
text-align:justify;
margin:0px;
line-height:17px;
}
.clear{
clear:both;
}
a{
text-decoration:underline;
}
img.right{
float:right;
padding:3px;
border:1px #8c3426 solid;
}
img.ev{
padding:3px;
border:1px #E459EF solid;
}

#main_container{
width:950px;
height:auto;
margin:auto;
padding:0px;
position:relative;
z-index:100;
background-color:#FFFFFF;
}
.me{
position:absolute;
top:120px;
right:40px;
z-index:999;
}
#header{
width:950px;
height:175px;
background:url(images/top_bg.jpg) no-repeat center;
margin:0px;
padding:0px;
}

#header_logo{
width:245px;
height:61px;
float:left;
padding:35px 0 0 20px;
}
.title{
width: auto;
padding:2px 0 5px 0;
font-size:14px;
color:#E459EF;
font-weight:bold;
}
#latest {
width:400px;
height:auto;
float:left;
padding:0px 15px 0px 10px ;
border-left:1px #8c3426 dotted;
border-right:1px #8c3426 dotted;
margin:20px 0 0 30px;
}
/*------------------------------main content-----------------------*/
#main_content{
width:975px;
margin:auto;
clear:both;
background-color:#FFFFFF;
}

/*---------------- menu tab----------------------*/
.menu{
clear:both;
width:auto;
height:23px;
padding:22px 0 0 30px;
}
.menu ul{
list-style:none;
padding:0px;
margin:0px;
}
.menu ul li{
display:inline;
}
.menu ul li a{
float:left;
border:none;
padding-right:18px;
text-decoration:none;
color:#000000;
font-size:14px;
font-style:italic;
font-weight:bold;
}
.menu ul li a:hover{
color:#E459EF;
text-decoration:line-through;
}


/*---------------center_content-------*/
#center_content{
width:950px;
height:auto;
clear:both;
padding-top:25px;
background:url(images/center_bg.gif) no-repeat top center;
}
.center_left{
width:400px;
float:left;
padding:20px;
}
.center_right{
width:200px;
float:left;
padding:20px 10px 10px 10px;
}
.center_wide{
width:auto;
height:auto;
clear:both;
padding:15px;
}
.ev_box{
width:199px;
height:164px;
float:left;
text-align:center;
padding:20px 12px 20px 12px;
}
/*----------------------list-------------------------*/
ul.list{
list-style:none;padding:0px;margin:0px; 
}
ul.list li{
list-style:none;width: auto;height: auto;padding:0px;
}
ul.list li a{
height: 16px; width: auto; display:block;padding:0 0 0 15px; margin:5px 10px 10px 0;color:#000;text-align:left;font-size:11px;
background:url(images/list_arrow.gif) no-repeat left;text-decoration:none;
}
ul.list li.services a{
height: 16px; width: auto; display:block;padding:0 0 0 15px; margin:5px 10px 10px 0;color:#000;text-align:left;font-size:12px;
background:url(images/list_arrow.gif) no-repeat left;text-decoration:underline;
}
ul.list li a:hover{
height: 16px; width: auto;text-decoration:underline;color: #000;
}
/*-------------------footer------------------------*/
#footer{
width:950px;
height:71px;
clear:both;
color:#E459EF;
background:url(images/footer.gif) no-repeat center #fff;
}
.left_footer{
float:left;
padding:15px;
}
#footer a{
color:#E459EF;
padding:0 5px 0 5px;
}
.right_footer{
float:right;
padding:20px 20px 0 0 ;
}
